// fonts
$font-raleway:  Raleway, Arial;
$font-proxima:  Proxima Nova, Arial;

// colors
$white:         #fff;
$black:         #000;
$black-grey:    #2f2f2f;
$light-grey:    #bfbfbf;
$grey:          #696969;
$blue:          #00a8ff;
$light-blue:    #13ceff;

// transitions
$transition-normal: 0.3s linear;

//breakpoints
$tablet: 960px;
$mobile: 720px;