.samples {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  .slick-slide {
    overflow: hidden;
  }
}

.samples__content {
  padding-top: 74px;
  padding-bottom: 83px;
}

.samples__title {
  text-align: center;
  margin-bottom: 45px;
}

.samples__sliderTabLinks {
  max-width: 550px;
  margin: 0 auto 29px;

  .slick-track {
    transform: none !important;
  }
}

.samples__sliderTabLink {
  opacity: 0.5;
  line-height: 44px;
  text-align: center;
  cursor: pointer;

  .slick-current & {
    opacity: 1;
    border-bottom: 6px solid $blue;
  }
}

.samples__slider {

  .slick-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 5;
    top: 180px;
  }

  .slick-prev {
    background: url("../img/svg/left.svg") no-repeat center/cover;
    width: 61px;
    height: 61px;
    left: 0;
  }

  .slick-next {
    background: url("../img/svg/right.svg") no-repeat center/cover;
    width: 61px;
    height: 61px;
    right: 0;
  }

  //.slick-list {
  //  padding-top: 78px !important;
  //}
}

.samples__slide {

}

.samples__slideTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  max-width: 854px;
  margin: 78px auto 107px;
  box-sizing: content-box;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 24px;
  }

  &--circles {
    .samples__beforeShape {

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 419px;
        height: 419px;
        top: -76px;
        left: -76px;
        background: url("../img/svg/red-circle-rounds.svg") no-repeat center;
      }
    }

    .samples__afterShape {
      margin-left: -65px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 417px;
        height: 417px;
        top: -116px;
        left: -116px;
        background: url("../img/svg/green-circle-rounds.svg") no-repeat center;
        z-index: -5;
      }
    }
  }

  &--squares {
    background: url("../img/square-lines.png") no-repeat center;
    height: 271px;
    justify-content: center;
    align-items: flex-end;
    max-width: none;

    .samples__beforeDesc{
      align-self: flex-start;
      margin-top: 6px;
      margin-right: 46px;

      &::before {
        transform: none;
        top: 88px;
      }
    }

    .samples__beforeShape {

      img {
        width: 100%;
        max-width: 207px;
        height: 255px;
      }
    }

    .samples__afterShape {
      margin-left: 0;

      img {
        height: 138px;
        width: 100%;
        max-width: 207px;
      }
    }

    .samples__afterDesc {
      align-self: flex-start;
      margin-left: 73px;
      margin-top: 5px;

      &::after {
        transform: rotateY(180deg);
        top: 85px;
      }
    }
  }

  &--triangles {
    margin-bottom: 50px;

    .samples__beforeShape {

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 437px;
        height: 437px;
        top: -52px;
        left: -52px;
        background: url("../img/svg/red-triangle-bg.svg") no-repeat center/cover;
      }
    }

    .samples__afterShape {
      margin-left: -95px;
      margin-top: 30px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 417px;
        height: 417px;
        top: -87px;
        left: -86px;
        background: url("../img/svg/green-triangle-bg.svg") no-repeat center;
        z-index: -5;
      }
    }
  }
}

.samples__beforeDesc {
  max-width: 237px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  //margin-right: 20px;
  position: relative;

  &::before {
    content: "";
    background: url("../img/svg/thin-arrow.svg") no-repeat center;
    position: absolute;
    width: 100px;
    height: 88px;
    transform: rotateX(180deg) rotate(-15deg);
    top: -78px;
    left: 124px;
  }
}

.samples__beforeShape {
  position: relative;
}

.samples__afterShape {
  position: relative;
}

.samples__afterDesc {
  max-width: 129px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    background: url("../img/svg/thin-arrow.svg") no-repeat center;
    position: absolute;
    width: 100px;
    height: 88px;
    transform: rotateY(180deg) rotate(-15deg);
    top: 58px;
    left: -44px;
  }
}

.samples__slideBottom {
  display: flex;
  justify-content: space-between;
  max-width: 885px;
  margin: 0 auto;
}

.samples__column {
  text-align: center;
}

.samples__columnTop {
  font-size: 60px;
  font-weight: 100;
  color: $blue;
  margin-bottom: 3px;
}

.samples__logo {
  display: inline !important;
  vertical-align: middle;
}

.samples__columnDesc {
  color: #929292;
}

@media (max-width: $tablet) {
  .samples__content {
    padding-top: 48px;
    padding-bottom: 60px;
  }

  .samples__title {
    font-size: 36px;
    margin-bottom: 34px;
  }

  .samples__sliderTabLink {
    font-size: 22px;
  }

  .samples__slider {

    .slick-list {
      padding-top: 0 !important;
    }

    .slick-arrow {
      top: 315px;
    }
  }

  .samples__slideTop {
    padding: 0;
    margin-top: 0;
    margin-bottom: 47px;

    &--circles {
      flex-direction: column;
      position: relative;
      margin-top: 120px;

      .samples__beforeDesc {
        position: absolute;
        top: -120px;

        &::before {
          transform: rotateY(180deg) rotate(25deg);
          top: 60px;
          left: auto;
          right: -55px;
        }
      }

      .samples__afterShape {
        margin: -70px 0 55px;
      }

      .samples__afterDesc {

        &::after {
          transform: rotateY(180deg) rotate(-133deg);
          top: -77px;
          left: -90px;
        }
      }
    }

    &--squares {
      position: relative;
      margin-top: 172px;
      margin-bottom: 235px;

      .samples__beforeDesc {
        position: absolute;
        top: -175px;

        &::before {
          transform: rotate(75deg);
          top: 60px;
          left: -50px;
        }
      }

      .samples__afterDesc {
        position: absolute;
        bottom: -165px;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);

        &::after {
          top: -70px;
          left: auto;
          right: -110px;
          transform: rotate(-109deg);
        }
      }
    }

    &--triangles {
      position: relative;
      flex-direction: column;
      justify-content: center;
      padding-top: 89px;
      margin-bottom: 5px;

      .samples__beforeDesc {
        position: absolute;
        top: 0;
        font-size: 24px;
        z-index: 10;

        &::before {
          transform: rotate(75deg);
          top: 60px;
          left: -40px;
        }
      }

      .samples__afterShape {
        margin-left: -30px;
        margin-top: 0;
        top: -80px;
      }

      .samples__afterDesc {
        position: absolute;
        font-size: 24px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &::after {
          transform: rotate(-133deg);
          top: -77px;
          left: auto;
          right: -105px;
        }
      }
    }
  }

  .samples__slider {

    .slick-arrow {
      display: none;
    }
  }

  .samples__beforeDesc {
    font-size: 24px;
    max-width: 310px;
    margin-bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .samples__afterDesc {
    font-size: 24px;
  }

  .samples__columnDesc {
    font-size: 22px;
  }
}

@media (max-width: $mobile) {
  .samples__title {
    font-size: 33px;
  }

  .samples__sliderTabLink {
    font-size: 19px;
    line-height: 23px;
  }

  .samples__slider {

    .slick-arrow {
      display: none !important;
    }
  }

  .samples__slide {

  }
}

@media (max-width: 425px) {
  .samples__beforeShape {
    img {
      transform: scale(0.8);
    }

    &:after {
      transform: scale(0.8);
    }
  }

  .samples__afterShape {
    img {
      transform: scale(0.8);
    }

    &:after {
      transform: scale(0.8);
    }
  }

  .samples__slideTop {
    margin-top: 0;

    &--circles {
      margin-top: 120px;
      margin-bottom: 67px;

      .samples__beforeDesc {
        &:before {
          transform: rotateY(180deg) rotate(25deg) scale(0.8);
          top: 73px;
          right: -14px;
        }
      }

      .samples__afterDesc {
        &:after {
          transform: rotateY(180deg) rotate(-133deg) scale(0.8);
          left: -49px;
        }
      }

      .samples__afterShape {
        margin-top: -90px;
      }
    }

    &--squares {
      margin-top: 172px;

      .samples__beforeDesc {

        &:before {
          transform: rotate(75deg) scale(0.8);
          top: 110px;
          left: 7px;
        }
      }

      .samples__afterDesc {

        &:after {
          right: -71px;
          transform: rotate(-109deg) scale(0.8);
        }
      }

      .samples__beforeShape {
        top: 25px;
        left: 7%;
      }

      .samples__afterShape {
        top: 14px;
        left: -3%;
      }
    }

    &--triangles {

      .samples__beforeDesc {

        &:before {
          transform: rotate(75deg) scale(0.8);
          top: 70px;
          left: 2px;
        }
      }

      .samples__beforeShape {

        img {
          transform: scale(0.75);
        }

        &:after {
          transform: scale(0.75);
        }
      }

      .samples__afterShape {
        margin-left: -9px;
        top: -120px;

        img {
          transform: scale(0.75);
        }

        &:after {
          transform: scale(0.75);
        }
      }

      .samples__afterDesc {
        bottom: 50px;

        &:after {
          right: -84px;
          transform: rotate(-133deg) scale(0.8);
        }
      }
    }
  }

  .samples__logo {
    width: 50px;
  }

  .samples__columnTop {
    font-size: 43px;
  }

  .samples__columnDesc {
    font-size: 16px;
  }
}