@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayBlack.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayBold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Thin.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
}